manifest_version: 2
name: 'Kaizen Variation Editor'
version: '0.0.1'
description: 'Kaizen Platform Variation Editor Extension for Google Chrome Developer Tools'
icons:
  '16': 'images/icon-16.png'
  '128': 'images/icon-128.png'
author: 'Atsushi Nagase <http://ngs.io>'
background: 'scripts': [ 'scripts/background.js' ]
content_scripts: [
  'js': [ 'scripts/content_scripts/document_end.js' ]
  'run_at': 'document_end'
  'matches': [ '<all_urls>' ]
]
devtools_page: 'devtools.html'
permissions: [
  'tabs'
  '<all_urls>'
]
web_accessible_resources: [
  'scripts/content.js'
]
